/* css behorende bij oefening les 13 */

#lobster{
  font-family: 'Lobster', cursive;
  color: #2d9907;
}

#mingzat{
  font-family: 'Mingzat', sans-serif;
  color: #0980c8;
}

#indie{
  font-family: 'Indie Flower', cursive;
  color:#72079c;
  }
